
body 
{
background: url("background.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
	float:left;
	width:50%;
	display:inline-block;
	color:#1f1c1c;
	margin-top:10px;
	text-align:center;
font-family: 'Montserrat', sans-serif;	font-weight:700;
text-transform:uppercase;
/*width:390px;
height:60px;*/
line-height:60px;
/*background-color:white;*/
	font-size:2em;
}
#main-nav { 
 	float:right;
 	width:50%;
 	/*display:inline-block;*/
 	/*margin-top:30px;*/
 	text-align:center;
 } 

#main-nav li, #main-nav li a{	
	list-style:none;
	text-decoration: none;
	color: #1f1c1c;
font-family: 'Montserrat', sans-serif;	font-weight:400;
	margin:.6em;
	text-align:center;
	display:inline-block;
	font-size:1.15em;
}

#mobile-nav {
	display:none;
}

#main-nav li a:hover {
color:#FFCC00;
text-decoration:underline;
}

/*footer {
	clear:both;
	float:right;
	width:400px;
	padding-right:40px;
	position:fixed;
	bottom:0;
text-align:center;
	border-top;
	margin-bottom:1em;
font-family: 'Montserrat', sans-serif;
	color:#1f1c1c;
}*/

@media screen and (max-width: 700px) {

h1 {
	width:100%;
	text-align:center;
}

label {
	display:block;
	text-align:center;
	cursor:pointer;
	color:white;

}


footer {
	display:none;
}


/*  ul {
      max-height: 0;
      margin: 0 3.5em 0 1em;
    }*/

#main-nav {
	display:none;
}

#mobile-nav {
	display:block;
	bottom:0;
	left:0;
	position:fixed;
	width:100%;
	/*background-color:white;*/
/*	margin:0;*/
	background-color:black;
}
input {
	margin:0;
}
#mobile-nav li, #mobile-nav li a {
	display:block;
	list-style:none;
	text-decoration:none;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	height: 1.6em;
	line-height:1.6em;
}

#menu-toggle {
	display:none;
}

#menu {
	display:none;
}

label {
	font-family: 'Montserrat', sans-serif;
	font-size:2em;
}

#menu-toggle:checked + #menu {
    
    display:block;
    text-align:center;

}
}