body 
{
background: url("background2.png"); /*background-size:100% 100%;*/
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
header
{
/*background-color:#2e2e2e;*/
width:287px;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-top:200px;
margin-bottom:350px;
}
nav
{
background-color:#2e2e2e;
/*opacity: .9;*/
width:100%;
position:absolute;
position:fixed;
top:0;
text-align:center;
font-family: 'Bree Serif', serif;
font-weight:100;
}
footer
{
/*background-color:#2e2e2e;
opacity: .8;*/
width:100%;
position:absolute;
bottom:0;
}
p 
{
width:45%;
margin-left:auto;
margin-right:auto;	
font-size:.9em;
}
h1
{
font-family: 'Bree Serif', serif;
font-weight:100;
/*color:#dfe8da;*/
color:#2e2e2e;
font-size:1.8em;
}
ul{
list-style:none;
}

li, li a {
display: inline-block;	
font-family: 'Bree Serif', serif;
font-size: 30px;
font-color: #dfe8da;
}

li a:hover {color:#000000;}

h3, footer
{
font-family: "Montserrat", sans-serif;
/*font-family: 'Roboto Condensed', sans-serif;
*//*font-family: 'Droid Sans', sans-serif;
/*font-family: 'Bree Serif', serif;*/
font-weight:200;
color:#2e2e2e;	
/*color:#f8f8ff;*/
}
h2{
/*	font-family: "Montserrat", sans-serif;
/**/	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Bree Serif', serif;
	font-size: 1.8em;
	color: #2e2e2e;
	/*color:#f8f8ff;*/
	font-weight:400;
}

h3
{
font-size: .9em	
}

hr {
border: none;
height: 3px;
background-color: #2e2e2e;
}

@media screen and (max-width: 400px) {
footer {
	display: none;
	visibility: hidden;
}

}